

<ul> 
  <% if user_signed_in? %>
    <li><%= link_to t(:sign_out), destroy_user_session_path%> </li>
    <li><%= link_to t(:profile), current_user.profile %> </li>

  <% else %>
    <li><%= link_to t(:sign_up), new_user_registration_path%> </li>
    <li><%= link_to t(:sign_in), new_user_session_path%> </li>
  <% end %>
    <li ><%= link_to t(:home), root_path %> </li>  
    <li><%= link_to t(:tasks), tasks_path %> </li>
    <li><%= link_to t(:users), profiles_path %> </li>

</ul>    


