<!DOCTYPE html>
<html>
<head>
  <title>Cantest</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>  
  <%= stylesheet_link_tag    "links", :media => "all" %>  
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>


<body >


<div >
 
  <div id="header" class="navbar-inner pull-right li">     
     <%= form_tag tasks_path, remote: true, :method => :get do %>        
     <%= text_field_tag :search, params[:search], remote: true %>     
     <%= submit_tag t(:search), remote: true %>
     <% end %>
     <%= render "shared/links" %>
     <%= link_to "English", root_path(:locale => "en") %> |
     <%= link_to "Русский", root_path(:locale => "ru") %> <br>
  <a href="#" class="link_light">Light</a> | <a href="#" class="link_dark">Dark</a>
  </div>

  <div class="tooltip-inner container ">
     <%= yield %>
  </div>




</div >
</body>
</html>
