<%= form_for(@task) do |f| %>

  <%= render 'shared/error_messages', :object => f.object %>

  <div class="field">
    <%= f.label t(:title) %><br />
    <%= f.text_field :title %>
  </div>

  <div class="field">
    <%= f.label t(:tags) %><br />
    <%= f.text_field :tag_list, {:id => "autocomplete"} %>
 </div>

  <div class="field">
    <%= f.label t(:answers) %><br />
    <%= f.text_field :answer_list %>
  </div>

  <div class="field">
    <%= f.label t(:content) %><br />
  <%= f.cktext_area :content, :value => "Default value", :id => "sometext" %>
  </div>
  <div class="actions">
    <%= f.submit t(:create_task) %>
  </div>

<% end %>
