<div id="tasks">
<%= will_paginate %>


<% @tasks.each do |task| %>

 
<div class ="tooltip1">     
  <div class = "name pull-right">
        <%= task.title %>
         <div style="color:red"><%= task.votes_for - task.votes_against %></div>   
    </div> 
   
    <div class ="name1 pull-left"> <%= link_to task.creator.profile.name, task.creator.profile %></div>  <br>     
    <div class= "avatar1 pull-left"> <%= image_tag(task.creator.profile.avatar_url, class:"img-rounded1") if task.creator.profile.avatar? %></div> 
    <div class="content"><br><%= task.content.html_safe %></div>    
    <div class ='tags'> <%= task.tag_list.map { |t| link_to t, tag_path(t), remote: true }.join(', ').html_safe   %></div> 
    
</div>
<div class = "pull-right">
    <%= link_to t(:show), task %>
    <% if can? :update, task %> |
    <%= link_to t(:edit), edit_task_path(task) %> |
    <%= link_to t(:destroy), task, confirm: 'Are you sure?', method: :delete %>
    <% end %> 
</div><hr>
    
<% end %>  


<%= will_paginate %>

</div>
