<h1><%= t(:listing_tasks) %></h1>

<div id="tag_cloud" class='center'>
  <% tag_cloud Task.tag_counts, %w[s m l] do |tag, css_class| %>
    <%= link_to tag.name, tag_path(tag.name), class: css_class, remote: true %>
  <% end %>
</div> <br>

<div class ="name1">
   <% if can? :create, Task %>
   <%= link_to t(:new_task), new_task_path %>
   <% end %>
</div>

<%= render "tasks" %>

<div class ="name1">
   <% if can? :create, Task %>
   <%= link_to t(:new_task), new_task_path %>
   <% end %>
</div>
