  <p id="notice"><%= notice %></p>

  <div class = "container1"> 
    <div class= "pull-left">
      <b><%= t(:creater)%>:</b>
     <b> <%= link_to @task.creator.profile.name, @task.creator.profile%></b>
    </div> 
    <div class = "pull-right">
      <b><%= t(:title)%>:</b>
      <%= @task.title %>
    </div>    
  </div><br><br>

  <div class = "container1">
    <div class= "avatar1 pull-left">
      <%= image_tag(@task.creator.profile.avatar_url, class:"img-rounded1") if @task.creator.profile.avatar? %>
    </div>          
    <div class="content">
      <b> <%= t(:content) %>:</b>
      <%= @task.content.html_safe %>
    </div>
   </div>  <br><br>

  <div class ="center">  
    <% if can? :resolve, @task %> 
    <%= form_tag resolve_task_path, :method => :put, :id => @task.id do %>
    <%= text_field_tag :answer_list, params[:answer_list] %>
    <%= submit_tag t(:resolve), class:"btn" %><br>
    <% end %>
    <% end %>
  </div><br>



  <% if can? :vote, @task %>
  <div class = "name center">   
   <%= link_to t(:like), vote_task_path(@task, :title => "Up"), :method => "put", class:"btn-success" %>  
  <%= link_to t(:dislike), vote_task_path(@task, :title => "Down"), :method => "put", class:"btn-danger" %>  
</div>
  <% end %> <hr>

  <%= link_to t(:passed_users), profiles_path( :task_id => @task.id ) %> 
  <% if can? :update, @task %> |
  <%= link_to t(:edit), edit_task_path(@task) %> | <% end %>
  <%= link_to t(:back), tasks_path %>

