<div id = "profiles">
<%= will_paginate %>

  <% @profiles.each do |profile| %> <br>
   <div class ="tooltipus" >

     <div class= "avatar2 pull-left">
      <%= image_tag(profile.avatar_url, class:"img-rounded1") if profile.avatar? %>
     </div> 

     <div class ="name ">
      <%= link_to profile.name, profile %> <br>   
     <div style ="color:red"> <%= profile.user.resolved_tasks.count %> </div>  

    </div>                
    
   </div> 
    <% if can? :destroy, profile %> |
    <%= link_to t(:destroy), profile, confirm: 'Are you sure?', method: :delete %> 
    <% end %>
    <br>
  <% end %>
<%= will_paginate %>
</div>
