
<div class = "container1">

   <div class ="avatar pull-left">
     <%= image_tag(@profile.avatar_url , class:"img-rounded") if @profile.avatar? %>
   </div>
   <div class =" name">
      <%= @profile.name %>
   </div><br><br>

   <div class= "raiting" style="color:red">
      <%= @tasks.count %>
   </div><br><br>

   <div class ='content'>
     <div class ="inline subname"> <%= t(:city) %>: </div>
     <div class ="inline"> <%=@profile.city%></div>
   </div>

   <div  class ='content'>
    <div class ="inline subname"> <%= t(:language) %>: </div>
    <div class ="inline">  <%= @profile.language%></div>
   </div>   

</div><br><br><br> <hr>

<div class = " pull-left content">
      <div class ="center subname"> <%= t(:about) %>:</div>
      <div>   <%= @profile.about %></div>
</div><br><br> <hr>

<% if can? :edit, @profile %>
<%= link_to t(:edit), edit_profile_path(@profile) %> |
<% end %>


<%= link_to t(:resolved_tasks), tasks_path( :profile_id => @profile.id ) %>
